.card-body {
    color: #F4F2DE !important;
    background-color: #2B2730;
}

.jc-bs3-row {
    background-color: #00000000;
}

#itemsTable thead {
    text-transform: uppercase;
}

#itemsTable thead tr th {
    font-weight: 500 !important;
}

#itemsTable_filter label {
    font-weight: 200 !important;
    text-transform: uppercase;
}

#itemsTable tbody {
    font-weight: 400;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: capitalize;
}

.modal-title {
    color: black;
}

form {
    color: #2B2730;
}

#draggable {
    position: absolute;
    left: 20px;
    top: 20px;
    padding: 10px;
    background-color: rgb(0, 0, 255);
}

#draggable img {
    width: 150px;
    height: 150px;
    margin: 10px;
}

.yow {
    letter-spacing: 5px;
    font-family: 'Times New Roman', Times, serif;
}
