.card-body {
    color: #F4F2DE !important;
    background-color: #2B2730;
}

.jc-bs3-row {
    background-color: #00000000;
}

#shippersTable thead {
    text-transform: uppercase;
}

#shippersTable thead tr th {
    font-weight: 500 !important;
}

#itemsTable_filter label {
    font-weight: 200 !important;
    text-transform: uppercase;
}

#shippersTable tbody {
    font-weight: 400;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: capitalize;
}

.yow {
    letter-spacing: 5px;
    font-family: 'Times New Roman', Times, serif;
}

.table-bordered {
    border: 1px solid #464444 !important;
}

.table-bordered th {
    border: 1px solid #464444 !important;
}

.table-bordered td {
    text-transform: capitalize;
    border: 1px solid #464444 !important;
}

.categoryForm {
    display: inline-flex;
    flex-direction: row;
}

.categoryForm button,
.categoryForm input {
    margin: 0 5px;
}

.colorData {
    background-color: red !important;
}

.for-alert {
    width: 950px;
    height: 100px !important;
    position: absolute;
    right: 1%;
    top: 8.5%;
}

.dz-message {
    color: #464444;
}

.item-image img {
    width: 75px;
    height: 75px;
    object-fit: cover;
    cursor: pointer;
}

.hover-text {
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);
    /* Background color of the hover text */
    color: white;
    /* Text color of the hover text */
    font-size: 16px;
    opacity: 0;
    /* Initially hidden */
    transition: opacity 0.2s ease;
    /* Transition for smooth fading in/out */
}

.item-image:hover .hover-text {
    opacity: 1;
    /* Show the hover text on hover */
}

.item-image {
    position: relative;
    display: flex;
    justify-content: center;
}

#imageContainer {
    width: 70%;
    height: fit-content;
    position: fixed;
    top: 0%;
    right: 8%;
    background-color: aqua;
}
