.card-body {
    color: #F4F2DE !important;
    background-color: #2B2730;
}
#stockTable_wrapper{
    background-color: #2B2730 !important;
}
.jc-bs3-row {
    background-color: #00000000;
}

#stockTable thead {
    text-transform: uppercase;
}

#stockTable thead tr th {
    font-weight: 500 !important;
}

#stockTable_filter label {
    font-weight: 200 !important;
    text-transform: uppercase;
}

#stockTable tbody {
    font-weight: 400;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: capitalize;
    background-color: #2B2730 !important;
}

.yow {
    letter-spacing: 5px;
    font-family: 'Times New Roman', Times, serif;
}

.table-bordered {
    border: 1px solid #464444 !important;
}

.table-bordered th {
    border: 1px solid #464444 !important;
}

.table-bordered td {
    text-transform: capitalize;
    border: 1px solid #464444 !important;
}

.table-bordered td.lowercase {
    text-transform: lowercase;
}

.form-group label {
    color: #464444;
}

.dz-message {
    color: #464444;
}

.action-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.action-buttons button {
    margin: 3px;
    font-size: 12px;
}

