.card-body {
    color: #F4F2DE !important;
    background-color: #2B2730;
}

#supplierTable {
    background-color: #2B2730 !important;
}

table th,
td {
    color: #F4F2DE !important;
    background-color: #2B2730 !important;
}

.table-bordered {
    border: 1px solid #464444 !important;
}

.table-bordered th {
    border: 1px solid #464444 !important;
    font-weight: 600 !important;
}

.table-bordered td {
    text-transform: capitalize;
    border: 1px solid #464444 !important;
}

.table-bordered thead {
    text-transform: uppercase !important;
    letter-spacing: 2px;
    font-weight: 400 !important;
}

.table-bordered tbody {
    letter-spacing: 1px;
    text-transform: capitalize;
    font-weight: 300;
}

.yow {
    letter-spacing: 5px;
    font-family: 'Times New Roman', Times, serif;
}

.form-group label {
    color: #464444;
}

td.lowercase {
    text-transform: lowercase !important;
}


.jc-bs3-row {
    background-color: #00000000;
}

.action-buttons {
    display: flex;
    flex-direction: row;
}

.action-buttons button {
    margin: 3px;
}

label:not(.dataTables_filter label) {
    color: #3F2E3E !important;
    font-family: 'Times New Roman', Times, serif;
    font-size: 17px;
    letter-spacing: 2px;
}

option,
select {
    text-transform: capitalize;
    font-family: 'Times New Roman', Times, serif;
}

.for-alert {
    width: 1000px;
    height: 100px !important;
    position: absolute;
    right: 1%;
    top: 8.5%;
}

.dz-message {
    color: #464444;
}

.item-image img {
    width: 75px;
    height: 75px;
    object-fit: cover;
    cursor: pointer;
}

.hover-text {
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);
    /* Background color of the hover text */
    color: white;
    /* Text color of the hover text */
    font-size: 16px;
    opacity: 0;
    /* Initially hidden */
    transition: opacity 0.2s ease;
    /* Transition for smooth fading in/out */
}

.item-image:hover .hover-text {
    opacity: 1;
    /* Show the hover text on hover */
}

.item-image {
    position: relative;
    display: flex;
    justify-content: center;
}
