.card-body {
    color: #F4F2DE !important;
    background-color: #2B2730;
}

#supplierTable {
    background-color: #2B2730 !important;
}

table th,
td {
    color: #F4F2DE !important;
    background-color: #2B2730 !important;
}

.table-bordered {
    border: 1px solid #464444 !important;
}

.table-bordered th {
    border: 1px solid #464444 !important;
    font-weight: 600 !important;
}

.table-bordered td {
    text-transform: capitalize;
    border: 1px solid #464444 !important;
}

.table-bordered thead {
    text-transform: uppercase !important;
    letter-spacing: 2px;
    font-weight: 400 !important;
}

.table-bordered tbody {
    letter-spacing: 1px;
    text-transform: capitalize;
    font-weight: 300;
}

.yow {
    letter-spacing: 5px;
    font-family: 'Times New Roman', Times, serif;
}

.form-group label {
    color: #464444;
}

td.lowercase {
    text-transform: lowercase !important;
}


.jc-bs3-row {
    background-color: #00000000;
}

.action-buttons {
    display: flex;
    flex-direction: row;
}

.action-buttons button {
    margin: 3px;
}

label:not(.dataTables_filter label) {
    color: #3F2E3E !important;
    font-family: 'Times New Roman', Times, serif;
    font-size: 17px;
    letter-spacing: 2px;
}

option,
select {
    text-transform: capitalize;
    font-family: 'Times New Roman', Times, serif;
}

.for-alert {
    width: 1000px;
    height: 100px !important;
    position: absolute;
    right: 1%;
    top: 8.5%;
}
